/**
 * @file
 * Views Styling
 */


.view-newsletter .field-name-field-photos .field-item {
    float: left;
    margin: 2px;
}

.view-newsletter .field-name-field-photos .field-items {
    clear: both;
    display: inline-block;
}
